
{% extends "base.html" %}
{% block content %}
<div class="space">
  <div class="home_split">
    <div class="home_left">
      <div class="home_left_inner" style="margin:17px;">
      <h1>Twitoff App</h1>
      <p>Placeholder for content</p>
      <form class="" action="index.html" method="post">
      <div class="users">
        <div class="usersfeat">
          <div class="user1">
            <select name="user1" class="form-control">
              {%for user in users%}
              <option value="{{user.name}}">@{{user.name}}</option>
              {%endfor%}
            </select>
          </div>
          <div class="vs">
            <h6>vs.</h6>
          </div>
          <div class="user2">
          <select name="user2" class="form-control">
            {%for user in users%}
            <option value="{{user.name}}">@{{user.name}}</option>
            {%endfor%}
            </select>
          </div>
        </div>
      </div>
      <div class="users">
        <div class="process">
          <textarea type="text" style="width:350px;height:150px;" name="tweet" placeholder="Insert a tweet you want to predict" class="form-control"></textarea>
        </div>
      </div>
      <button type="submit" style="margin-top:17px; margin-left:25px" class="btn btn-primary">Predict</button>
      </form>
    </div>
    </div>
    <div class="home_right">
      <div class="home_right_inner">
        <h3>Recently added users:</h3>
        <ul>
          {%for user in users%}
          <div class="users"><h6>@{{user.name}} - </h6><p>{{user.full_name}}</p></div>
          <div class="usersfeat">
            <div class="usercol">
              <a href="/drop/{{user.name}}">Drop User ❌</a>
            </div>
            <div class="usercol">
              <a href="/euser/{{user.name}}">View Tweets 👀</a>
            </div>
          </div>
          {%endfor%}
        </ul>
        <form action="{{url_for('adduser')}}">
          <div class="users">
            <input type="text" name="name" class="form-control" style="width:200px" placeholder="Enter a username">
            <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left:10px;" type="submit">Add User</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
