[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv-run = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
tweepy = "*"
basilica = "*"
python-decouple = "*"
sklearn = "*"
scikit-learn = "*"
dotenv = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
